.blog-container {
    padding: 10%;
   
}

.section-title {
    text-align: center;
    color: #b45309;
    margin: 30px 0;
    font-size: 40px;
}

.question {
    color: #ef4444;
    font-size: 22px;
    font-weight: 900;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.qus {
    font-size: 18px;
    font-weight: 900;
    font-family: monospace;
}

.answer {
    font-size: 18px;
    font-weight: 900;
    font-family: sans-serif;
    color: #047857;
    margin-bottom: 20px;
}
